In [1]:
import pandas as pd

In [2]:
child_df = pd.read_csv('children_population.csv',encoding='cp949')
child_df = child_df.iloc[1:].reset_index(drop=True)
child_df = child_df.drop(columns=['2024년_계_총인구수','2024년_계_연령구간인구수'])
child_df['소아청소년_인구수'] = child_df['2024년_계_0~9세'] + child_df['2024년_계_10~19세']
child_df = child_df.drop(columns=['2024년_계_0~9세','2024년_계_10~19세'])
child_df['행정구역'] = child_df['행정구역'].str.replace(r"\s*\(.*\)", "", regex=True)
child_df.to_csv('children_population_cleaned.csv', index=False, encoding='cp949')
child_df

       행정구역         소아청소년_인구수
0     서울특별시    483,780720,767
1     부산광역시    181,736262,852
2     대구광역시    142,228212,438
3     인천광역시    195,196272,576
4     광주광역시     92,837145,418
5     대전광역시     91,513135,613
6     울산광역시     73,097109,370
7   세종특별자치시      41,35152,539
8       경기도  939,9881,318,307
9   강원특별자치도     85,769126,637
10     충청북도     97,837142,996
11     충청남도    135,316201,787
12  전북특별자치도     95,081161,370
13     전라남도    101,368156,438
14     경상북도    140,258215,753
15     경상남도    195,007314,142
16  제주특별자치도      47,75670,262

In [19]:
hospital_df = pd.read_excel('hospital_counts.xlsx',header = 2)
hospital_df.iloc[1:].reset_index(drop=True)
hospital_df = hospital_df.drop(0)
hospital_df = hospital_df.drop(columns=['기준분기'])
hospital_region= hospital_df.groupby('시도')['소아청소년과'].sum()
hospital_region = hospital_region.reset_index()
hospital_region= hospital_region.rename(columns={'시도': '행정구역'})
hospital_region.to_csv('hospital_counts_cleaned.csv', encoding='cp949')

/opt/homebrew/Caskroom/miniforge/base/envs/2025SDA/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
counts_df = pd.read_csv('hospital_counts_cleaned.csv',encoding='cp949')
population_df = pd.read_csv('children_population_cleaned.csv',encoding='cp949')

In [22]:
merged_df = pd.merge(counts_df,population_df, on='행정구역', how='left')
merged_df

    Unnamed: 0     행정구역  소아청소년과         소아청소년_인구수
0            0  강원특별자치도     112     85,769126,637
1            1      경기도    1404  939,9881,318,307
2            2     경상남도     190    195,007314,142
3            3     경상북도     144    140,258215,753
4            4    광주광역시      82     92,837145,418
5            5    대구광역시     236    142,228212,438
6            6    대전광역시     112     91,513135,613
7            7    부산광역시     282    181,736262,852
8            8    서울특별시     456    483,780720,767
9            9  세종특별자치시      54      41,35152,539
10          10    울산광역시      66     73,097109,370
11          11    인천광역시     288    195,196272,576
12          12     전라남도      50    101,368156,438
13          13  전북특별자치도     132     95,081161,370
14          14  제주특별자치도      70      47,75670,262
15          15     충청남도     128    135,316201,787
16          16     충청북도     112     97,837142,996